.c-article {
  &__header {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
  }

  &__rule {
    margin-top: 1rem;
    width: 50%;
    margin-bottom: 1rem;
  }

  &__intro {
    font-weight: 500;
  }

  &__body {
    margin-bottom: 4rem;
  }

  &__comment {
    margin-bottom: 1rem;
  }

  &__comments {
    margin-bottom: 2rem;
  }
  
  @include media-breakpoint-up(md) {
    &__header {
      margin-top: 2rem;
      font-size: 3rem;
    }
  
    &__rule {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    &__intro {
      font-weight: 500;
      margin-bottom: 2rem;
      line-height: 1.85rem;
      text-align: justify;
      font-size: 1.1rem;
    }
  
    &__body {
      font-size: 1.1rem;
      line-height: 1.85rem;
      text-align: justify;
    }
  }
}